.container {
  position: absolute;
  top:50%;
  left:50%;
transform: translate (-50% -50%);
}
.message {
  font-size: 500px;
  position: absolute;
  top:50%;
  left:50%;
transform: translate (-50% -50%);
}

.videoPlayer {
  display: none;
}
